<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pqz.emsboot.modules.warehouse.mapper.GoodsMapper">
    <resultMap id="EnterListMap" type="cn.pqz.emsboot.modules.warehouse.entity.Goods">
        <id property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="orderNum" column="orderNum"/>
        <result property="name" column="name1"/>
        <result property="count" column="count"/>
        <result property="type" column="type"/>
        <result property="date" column="date"/>
        <result property="operator" column="operator"/>
        <result property="expCode" column="expCode"/>
        <result property="expNo" column="expNo"/>
        <result property="ship" column="ship"/>
        <collection property="client" ofType="cn.pqz.emsboot.modules.output.entity.Client">
            <result property="name" column="name2"/>
            <result property="phone" column="phone"/>
        </collection>
    </resultMap>

    <select id="searchList" resultType="map">
        select sg.*,s.name as supplierName  from goods sg  left join supplier s on sg.supplierId  = s.id where 1 = 1
        <if test="startTime != null">
        and sg.date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
        and sg.date &lt;= #{endTime}
        </if>
    </select>
</mapper>